<mat-form-field class="d-flex year-select">
  <mat-label>Año</mat-label>
  <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange($event)">
    <mat-option *ngFor="let year of availableYears" [value]="year">{{ year }}</mat-option>
  </mat-select>
</mat-form-field>
<div id="chart">
  <apx-chart
    #grafico
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [responsive]="chartOptions.responsive!"
    [xaxis]="chartOptions.xaxis!"
    [legend]="chartOptions.legend!"
    [fill]="chartOptions.fill!"
    [title]="chartOptions.title!"
  ></apx-chart>
</div>
