<div class="p-6 text-black font-thin text-lg">
  <div class="bg-white text-black p-6 rounded-lg shadow-lg space-y-6">
    <section id="introduccion" class="space-y-4">
      <h2 class="text-2xl font-semibold">Suscripción a Anuncios Premium para Profesionistas</h2>
      <p>La Suscripción a Anuncios Premium está diseñada exclusivamente para profesionistas que desean destacar y maximizar la visibilidad de sus anuncios. Al suscribirse, obtendrás una serie de beneficios que te permitirán sobresalir y atraer más clientes potenciales.</p>
    </section>
    <section id="beneficios">
      <h2 class="text-xl font-semibold">Beneficios</h2>
      <ul class="list-disc list-inside">
        <li><strong>Destacado Visual:</strong> Anuncios diferenciados que captan la atención.</li>
        <li><strong>Prioridad en Listados:</strong> Aparecen en las primeras posiciones.</li>
        <li><strong>Mayor Alcance:</strong> Más visibilidad y clientes potenciales.</li>
        <li><strong>Estadísticas Detalladas:</strong> Métricas para optimizar tu publicidad.</li>
      </ul>
    </section>
    <section id="pago-renovacion">
      <h2 class="text-xl font-semibold">Pago y Renovación</h2>
      <p>La suscripción tiene una duración de un mes y se paga a través de Mercado Pago, aceptando cualquier método de pago disponible en dicha plataforma. La renovación es manual.</p>
    </section>
    <section id="como-suscribirse">
      <h2 class="text-xl font-semibold">Cómo Suscribirse</h2>
      <ol class="list-decimal list-inside space-y-2">
        <li><strong>Accede a tu Cuenta:</strong> Inicia sesión en tu cuenta de profesionista.</li>
        <li><strong>Realiza el Pago:</strong> Procede al pago a través de Mercado Pago, eligiendo el método que prefieras.</li>
        <li><strong>Disfruta de los Beneficios:</strong> Una vez confirmado el pago, tu suscripción estará activa y podrás empezar a disfrutar de todos los beneficios.</li>
      </ol>
      <div class="mt-4">
        <p class="mb-2">Haz clic en el botón de abajo para suscribirte:</p>
        <div id="mercado-pago-button" class="w-1/4">
          <div id="wallet_container"></div>
        </div>
      </div>
    </section>
  </div>
</div>
